:root {
  --white: #ffffff;
  --aviary-blue: #c5e4e7;
  --china-green-blue: #3d6666;
  --sherpa-blue: #00474b;
  --salt-blue: #7f9d9f;
  --tealish: #26c2ae;
  --everest: #9fe8df;
  --distant-horizon: #f3f9fa;
  --uniform-gree-grey: #5e7a7d;
  --dusty-orange: #e17052;
  --bath-green: #0d686d;
}
body,
h1,
h2,
p {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--aviary-blue);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.container {
  width: 920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  header {
    margin-bottom: 88px;
  }

  main {
    width: 100%;
  }

  main form {
    display: flex;
    justify-content: center;
    background-color: var(--white);
    width: 100%;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    border-radius: 25px;

    .left-side {
      width: 379px;
      margin: 45px 16px 48px 48px;
      label {
        display: block;
        color: var(--uniform-gree-grey);
        margin-bottom: 40px;
      }
      input[type="text"] {
        display: block;
        width: inherit;
        text-align: right;
        font-family: inherit;
        font-size: 24px;
        color: var(--sherpa-blue);
        background-color: var(--distant-horizon);
        border: 2px solid transparent;
        border-radius: 5px;
        padding: 6px 16px;
        &:focus {
          border-color: var(--tealish);
          outline: none;
        }
        &::placeholder {
          color: var(--salt-blue);
        }
      }

      .bglabel {
        position: relative;
      }

      .bglabel::before {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 0;
        width: 36px;
        height: 36px;

        background-position: center;
        background-repeat: no-repeat;
      }

      .bill-label::before {
        background-image: url("./images/icon-dollar.svg");
      }

      .numberofpeople-label::before {
        background-image: url("./images/icon-person.svg");
      }

      .bglabel span {
        display: none;
      }

      .bglabel:has(.error) span {
        color: var(--dusty-orange);
        position: absolute;
        top: 0;
        right: 0;
        display: inline;
      }

      .bglabel .error {
        border-color: var(--dusty-orange);
      }
    }
    .right-side {
      width: 413px;
      padding: 40px;
      background-color: var(--sherpa-blue);
      display: flex;
      flex-direction: column;
      justify-content: start;
      margin: 32px;
      border-radius: 15px;
      & > div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        div:last-child {
          color: var(--tealish);
          font-size: 48px;
          letter-spacing: -1px;
          /* line-height: 100%; */
        }
      }
      & > div:last-of-type {
        margin-bottom: 122px;
      }

      span {
        display: block;
      }
      div span:nth-child(1) {
        color: var(--white);
      }
      div span:nth-child(2) {
        color: var(--salt-blue);
        font-size: 13px;
      }
    }
    button[type="reset"] {
      text-transform: uppercase;
      font-size: 20px;
      color: var(--sherpa-blue);
      background-color: var(--everest);
      font-family: inherit;
      font-weight: inherit;
      border: none;
      border-radius: 5px;
      height: 48px;
      /* margin: 9px 40px; */
    }
    .tip {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 48px);
      gap: 14px;
      margin-top: 16px;
    }

    label.tip-marker {
      border-radius: 5px;
      color: var(--white);
      background-color: var(--sherpa-blue);
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    label.tip-custom input[type="text"] {
      font-size: 24px;
      width: 87px;
    }

    label.tip-marker:has(input[type="radio"]:checked) {
      color: var(--sherpa-blue);
      background-color: var(--everest);
    }

    input[type="radio"] {
      display: none;
    }

    button[type="reset"][disabled] {
      background-color: var(--bath-green);
    }
  }
}
